<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
     <div class="background-container"> </div>
    <div class="content">
    <center>
      <form action="/auth/logout" method="post">
        <h1><u>
          Welcome to the Dashboard</h1>
        </u>
        <h2>Hello, <%= username %>!</h2>
        <button type="submit">Logout</button>
      </form>
      <br />
      <br />
      <br />
    </center>
    </div>
  </body>
</html>
